<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Tracker</title>
</head>
<body>
<h1>Projects</h1>

<ul>
    {% for project in projects %}
        <li
                style="color: grey">
            <a
                    style="text-decoration: none; color: grey"
                    href="/project/{{ project.project_id }}">
                {{ project.title }}
            </a>
        </li>
        <form action="/delete/project/{{ project.project_id }}" method="POST">
            <input type="submit" value="Delete Project">
        </form>

    {% endfor %}
</ul>
<br>
<h3>Add New Project</h3>
<form action="/add/project" method="POST">
    <div>
        Project Name: <label>
        <input type="text" name="project-title">
    </label>
    </div>
    <br>
    <input type="submit" value="Add Project">
</form>

{% for category, message in get_flashed_messages(with_categories=true) %}
    <div style="color: {{ category }}">{{ message }}</div>
{% endfor %}
</body>
</html>